<div class="container-fluid" ng-app="rhymebook">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="spelling">searching for {{spelling}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter word to rhyme" autofocus ng-model="spelling">
        </div>
      </form>
    </div>
    <div ng-repeat='rhyme in ctrl.rhymeResults'>
      <h4>{{rhyme.spelling}}</h4>
    </div>
  </div>
</div>
